<% content_for :css do %>
  <%= stylesheet_link_tag 'index' %>
<% end %>


<div class="koes-container">

  <div class="donokoe-container">
  <% if current_user %>
      <%= form_with(url: tweet_search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "声をさがす？", class: "search-input" %>
      <%= form.submit "さがす", class: "search-btn" %>
    <% end %>

    <div class="koe-form">
      <%= form_with model: @tweet, url: tweets_path, class:'form-wrap', local: true do |form| %>
        <div class="koe-form1">
          <%= form.text_area :text, id: "content", class: "input-message", rows: "10", cols: "16", maxlength: "117" %>
        </div>

        <div class="tag-field", id='tag-field'>
          <%= form.text_field :name, class:"input-tag", placeholder:"タグをつける？", id: "tweets_tag_name" %>
        </div>

        <div id="search-result">
        </div>

        <div class="submit-post">
          <%= form.submit "つぶやく？", class: "submit-btn" %>
        </div>

        <br>
        <br>

      <% end %>  
    <% else %>
    <div class="for-not-user">
      <p>つぶやく？</p>
      <p>↓</p>
      <p>まずは   <%= link_to '新規登録', new_user_registration_path %>   へ
      </p>
    </div>
    <% end %>

      <div class="index-footer-container">
        <div class="menu-list-container">
          <ul class="doors">
            <li class="door01">
              <%= link_to "ぽすと", tweets_path %>
            </li>
            <% if user_signed_in? %> 
            <li class="door02">
              <%= link_to "たからばこ", "/users/#{current_user.id}", class: "takarabako" %>
            </li>
            <% end %>
            <li class="door03">
              <%= link_to "ろくおん部屋", audios_path %>
            </li>
          </ul>
        </div>
      </div>

      
      
    </div>
  </div>
  
    <%# --------投稿された声↓↓-------- %>
  
    <div class="many_koes">
      <p class="donokoe">どの声がきこえる？</p>

      <ul class="post-lists">
        <% @tweets.each do |tweet| %>
          <li class="post">
            <div class="post-date">
              <%= tweet.created_at %>
            </div>
            <div class="post-content">
              <%= simple_format(tweet.text) %>
            </div>
            <ul class="tag">
              <li class="tag-list">
                <%tweet.tags.each do |tag| %>
                  #<%=tag.name%>
                <%end%>
              </li>
            </ul>
            <div class="under-menu">
              <span>
                <%= link_to '耳をすます？', tweet_path(tweet.id), method: :get, class: "listen hover-btn" %> 
              </span>
              <% if user_signed_in? && current_user.id == tweet.user_id %>
              <ul class="only-user">
                <li>
                  <%= link_to edit_tweet_path(tweet.id), method: :get do %>
                    <i class="far fa-edit hover-btn"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to tweet_path(tweet.id), method: :delete do %>
                    <i class="fas fa-trash-alt hover-btn"></i>
                  <% end %>
                </li>
              </ul>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <br>
    <div class="paginate">
      <%= paginate @tweets %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>

    <br>
    <br>
    <br>
    
</div>