<% content_for :css do %>
  <%= stylesheet_link_tag 'index' %>
<% end %>


<div class="koes-container">

  <div class="donokoe-container">

    <div class="koe-form">
      <%= form_with model: @tweet, url: tweets_path, class:'form-wrap', local: true do |form| %>
        <div class="koe-form1">
          <%= form.text_area :text, id: "content", class: "input-message", rows: "10", cols: "16", maxlength: "100" %>
        </div>

        <div class="tag-field", id='tag-field'>
          <%= form.text_field :name, class:"input-tag", placeholder:"タグをつけてね" %>
        </div>

        <div id="search-result">
        </div>

        <div class="submit-post">
          <%= form.submit "つぶやく？", class: "submit-btn" %>
        </div>
      <% end %>  
      <%# <div id="list"></div> %>
    </div>
  </div>
  
    <%# --------投稿された声↓↓-------- %>
  
    <div class="many_koes">
      <p class="donokoe">どの声がきこえる？</p>
      <% @tweets.each do |tweet| %>
        <div class="post">

          <div class="post-date">
            <%= tweet.created_at %>
          </div>

          <div class="post-content">
            <%= simple_format(tweet.text) %>
          </div>

          <ul class="tag">
            <li class="tag-list">
              <%tweet.tags.each do |tag| %>
                #<%=tag.name%>
              <%end%>
            </li>
          </ul>

          <% if user_signed_in? && current_user.id == tweet.user_id %>

            <div class="under-menu">

              <span>
                <a class="user-name" href="/users/<%= tweet.user.id %>">
                  <%= tweet.user.nickname %>
                </a>
              </span>

              <ul class="only-user">
                <li>
                  <%= link_to '声をきく', tweet_path(tweet.id), method: :get, class: "hover-btn" %>
                </li>
                <li>
                  <%= link_to edit_tweet_path(tweet.id), method: :get do %>
                    <i class="far fa-edit hover-btn"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to tweet_path(tweet.id), method: :delete do %>
                    <i class="fas fa-trash-alt hover-btn"></i>
                  <% end %>
                </li>
              </ul>

              

            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  
</div>