<% content_for :css do %>
  <%= stylesheet_link_tag 'show' %>
<% end %>

<div class="container">
  <div class="show">

    <div class="nav">
      <div class="gift-container">
        <% if current_user %>
          <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "ことばをおくる？", rows: "10", class: "kotobawokakeru"%>
          
          <br>
          <br>
          <div class="image-or-audio">
            <label class="form-image">
              <span class="image-file">
                <i class="far fa-image picture"></i>
              </span>
              <span class="send-image">画像をおくる？</span>
                <%= form.file_field :image, class: 'hidden' %>
            </label>

            <label class="form-audio">
              <span class="audio-file">
                <i class="fas fa-file-audio audio"></i>
              </span>
              <span class="send-audio">お話をおくる？</span>
                <%= form.file_field :audio_file, class: 'hidden' %>
            </label>

          </div>
          <br>
          <br>

          <div class="okuru"><%= form.submit "おくる", class:"okuru" %></div> 


        <% end %>
        <% else %>
        <div class="for-not-user">
          <p>贈りものをする？</p>
          <p>↓</p>
          <p>まずは   <%= link_to '新規登録', new_user_registration_path %>   へ
          </p>
        </div>
        <% end %>







        <div class="show-footer-container">
        <div class="menu-list-container">
          <ul class="doors">
            <li class="door01">
              <%= link_to "ぽすと", tweets_path %>
            </li>
            <% if user_signed_in? %> 
            <li class="door02">
              <%= link_to "たからばこ", "/users/#{current_user.id}", class: "takarabako" %>
            <% end %>
            </li>
            <li class="door03">
              <%= link_to "ろくおん部屋", audios_path %>
            </li>
          </ul>
        </div>
      </div>


      </div>
    </div>

    <div class="post-container">
      <div class="content-post">
        <div class="post-date">
          <%= @tweet.created_at %>
        </div>
        <p><%= simple_format(@tweet.text) %></p>
        <div class="under-menu">
        
        <% if user_signed_in? && current_user.id == @tweet.user.id %>
          <ul class="only-user">
            <li class="edit">
                <%= link_to edit_tweet_path(@tweet.id), method: :get do %>
                  <i class="far fa-edit"></i>
                <% end %>
            </li>
            <li class="destroy">
              <%= link_to tweet_path(@tweet.id), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="gifts-container">
      <div class="gifts">
        <h3>＜おくりもの＞</h3>
        <div class="gift">
          <% if @comments %>
            <% @comments.each do |comment| %>
              <p>
                <p class="comment-date"><%= comment.created_at %></p>
                <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class: "user-nickname" %></strong>
                <p><%= comment.text %></p>
              </p>
              <%= image_tag comment.image.variant(resize:'500x500'), class: 'gift-image' if comment.image.attached? %>
              <br>
              <br>
              <% if comment.audio_file? %>
              <%= audio_tag comment.audio_file, controls: true %>
              <% end %>
              <br>
              <br>
              <br>
              <br>
            <% end %>
          <% end %>
        </div>
        <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
      </div>
      
    </div>

    
  </div>

</div>