<% content_for :css do %>
  <%= stylesheet_link_tag 'index' %>
<% end %>

<div class="koes-container">

  <div class="donokoe-container">

    <%= form_with(url: tweet_search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "声をさがす？", class: "search-input" %>
      <%= form.submit "さがす", class: "search-btn" %>
    <% end %>

    <div class="koe-form">
      <%= form_with model: @tweet, url: tweets_path, class:'form-wrap', local: true do |form| %>
        <div class="koe-form1">
          <%= form.text_area :text, id: "content", class: "input-message", rows: "10", cols: "16", maxlength: "100" %>
        </div>

        <div class="tag-field", id='tag-field'>
          <%= form.text_field :name, class:"input-tag", placeholder:"タグをつけてね" %>
        </div>

        <div id="search-result">
        </div>

        <div class="submit-post">
          <%= form.submit "つぶやく？", class: "submit-btn" %>
        </div>

        <br>
        <br>

      <% end %>  
      
    </div>

    <div class="index-footer-container">
        <div class="menu-list-container">
          <ul class="doors">
            <li class="door01">
              <%= link_to "ぽすと", tweets_path %>
            </li>
            <li class="door02">
              <%= link_to "たからばこ", "/users/#{current_user.id}", class: "takarabako" %>
            </li>
            <li class="door03">
              <%= link_to "ろくおん部屋", audios_path %>
            </li>
          </ul>
        </div>
      </div>


  </div>
  
    <%# --------投稿された声↓↓-------- %>
  
    <div class="many_koes">

      <% @tweets.each do |tweet| %>
        <div class="post">

          <div class="post-date">
            <%= tweet.created_at %>
          </div>

          <div class="post-content">
            <%= simple_format(tweet.text) %>
          </div>

          <ul class="tag">
            <li class="tag-list">
              <%tweet.tags.each do |tag| %>
                #<%=tag.name%>
              <%end%>
            </li>
          </ul>

          <% if user_signed_in? && current_user.id == tweet.user_id %>

            <div class="under-menu">

              <span>
                <a class="user-name" href="/users/<%= tweet.user.id %>">
                  <%= tweet.user.nickname %>
                </a>
              </span>

              <ul class="only-user">
                <li>
                  <%= link_to '声をきく', tweet_path(tweet.id), method: :get, class: "hover-btn" %>
                </li>
                <li>
                  <%= link_to edit_tweet_path(tweet.id), method: :get do %>
                    <i class="far fa-edit hover-btn"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to tweet_path(tweet.id), method: :delete do %>
                    <i class="fas fa-trash-alt hover-btn"></i>
                  <% end %>
                </li>
              </ul>

              

            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  
</div>