<% content_for :css do %>
  <%= stylesheet_link_tag 'login' %>
<% end %>

<div class="contents row">
  <div class="login-container">
  
    <%# ログイン時のエラーメッセージ  %>
    <%# <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%# <%= flash[:alert] %>
    <%# </div> %>

    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :nickname %><br>
        <%= f.text_field :nickname, class: "nickname", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "password",  autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "ノックをする？", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>